@media screen and (max-width: 520px) {
    body {
       font-size: 19px;
       line-height: 150%;
    }

    .container-fluid{
        padding: 0 5% !important;
    }

    .container {
        max-width: 1050px;
        width: 90%;
        margin: auto;
      }
    
      .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 62px;
      }
    
      .navbar .menu-items {
        display: flex;
      }
    
      .nav-container {
        display: block;
        position: relative;
        height: 60px;
      }
    
      .nav-container .hamburger-lines {
        display: block;
        height: 26px;
        width: 32px;
        position: absolute;
        top: 17px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    
      .nav-container .hamburger-lines .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: white;
      }
      
      .nav-container .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
      }
      
      .nav-container .hamburger-lines .line2 {
        transition: transform 0.2s ease-in-out;
      }
      
      .nav-container .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
      }

      .navbar .menu-items {
        padding-top: 120px;
        box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
        height: 100vh;
        width: 100%;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 50px;
        transition: transform 0.5s ease-in-out;
        text-align: center;
      }
      
      .navbar .menu-items li {
        margin-bottom: 1.2rem;
        font-size: 1.5rem;
        font-weight: 500;
      }

      

      a{
        color:white !important;
        text-transform: uppercase;
        font-weight: bolder;
        text-align:center;
        padding: 20% 2% 20% 2%;
        display: none;
    }
    
    span {
        color:white;
        font-size:25px;
        min-width: 50px;
        display: none;
    }
    
    svg {
        color:white ;
        display:none;
    }

    svg.button {
        color:white;
        display: flex;
    }

    #logo {
        float: right;
        width:1%;
        height: 1%;
        text-align: center;
    }

    .action {
        background-color: #1B2049;
        color: white;
        width:65px;
        height:65px;
        border-radius: 70px;
        border-color: white;
    }

}

/*------------------------------------*/

body{
    background-image: url("https://massimozago.files.wordpress.com/2013/05/sfondo-nero-sfumato-e1368804131374.jpg");
    font-family: Arial, Helvetica, sans-serif;
}


.container-fluid{
    padding: 0 3% !important;
}

#page{
    padding:1% 1% 0 1%;
    margin:1% 1% 0 1%;
    width:97%;
}

.form {
    padding: 10% 5% 10% 5%;
}

.form-control {
    min-width: 100px;
}

#navbar{
    background-color: #1B2049 !important;
    border-width:1%;
    border-color: white;
    border-style:solid;
    padding: 1% 0% 1% 0%;
}


a{
    color:white !important;
    text-transform: uppercase;
    font-weight: bolder;
    text-align:center;
    padding: 20% 2% 20% 2%;
}

span {
    color:white;
    font-size:25px;
    min-width: 50px;
}

svg {
    color:white ;

}

footer {
    background-color: #151516 !important;
    position: absolute;
    bottom: 0;
    width: 95%;
    padding:1% 1% 0 1%;
    margin:1% 1% 0 1%;
    color:white;
    text-align: center;
}

.copyright {
    font-size: 28px;
    position: relative;
    top:-20px;
} 

.footer_info {
    padding-right: 8.5% ;
    padding-bottom: 2.5%;
    text-decoration: underline;
    font-size: 18px;
    position: relative;
    top:-5px;
}

/* End Layout */
/* Home Page & Film Page */

.featured_movie, .list, .film {
    background-color: #151516;
}

.title, .caption {
    color: white;
}

.action {
    background-color: #1B2049;
    color: white;
    border-radius: 70px;
    border-color: white;
}

.film_title, .category {
    color: white;
    text-align:center;
}

.film_photo {
    text-align: center;
    justify-content:center;
}

hr {
    color:white !important;
}



